.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color:black;
    background: #C4C4C4;
    cursor: pointer;
    position: relative;
    z-index: 0;
    
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #FFBF35,#fff);
    position: absolute;
    top: -5px;
    left:-5px;
    bottom: -5px;
    right:-5px;
    background-size: 400%;
    z-index: -1;
    filter: brightness(50px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    
}

.glow-on-hover:active {
    color: #000
}


.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#C4C4C4;
    left: 0;
    top: 0;
   
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}